@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/stylesHome.css" />

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Bienvenido a Laptopmania</title>
        </head>
        <body>

        
            <h1>Bienvenido a Laptopmania</h1>
        

        <section>
            <p>En Laptopmania, estamos comprometidos a ofrecerte las mejores soluciones tecnológicas. Explora nuestra amplia gama de laptops y computadoras para encontrar el dispositivo perfecto para ti.</p>
            <p>Descubre la última tecnología, disfruta de opciones de personalización y experimenta un servicio al cliente excepcional.</p>
            <p>¡Gracias por elegir Laptopmania!</p>
        </section>

        
            <p>© 2023 Laptopmania. Todos los derechos reservados.</p>
        

        </body>
    </p>
</div>
