@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/stylesPrivacy.css" />

<p>
    <h1>Política de Privacidad de "Laptopmania"</h1>

<p>Bienvenido a "Laptopmania". En esta política de privacidad, explicamos cómo recopilamos, utilizamos y protegemos la información personal que recopilamos de nuestros clientes y visitantes del sitio web. Al utilizar nuestros servicios o acceder a nuestro sitio web, usted acepta las prácticas descritas en esta política.</p>

<h2>1. Información que Recopilamos:</h2>

<p>Recopilamos información que nos proporciona directamente, como su nombre, dirección de correo electrónico, dirección de envío y detalles de pago cuando realiza una compra en nuestro sitio web. También recopilamos información automáticamente, como la dirección IP, el tipo de navegador, el tiempo de visita y las páginas vistas.</p>

<h2>2. Uso de la Información:</h2>

<p>Utilizamos la información recopilada para procesar pedidos, mejorar nuestro sitio web y servicios, personalizar la experiencia del usuario, proporcionar soporte al cliente, enviar actualizaciones sobre productos y promociones, y cumplir con las obligaciones legales.</p>

<h2>3. Seguridad de la Información:</h2>

<p>La seguridad de su información personal es una prioridad para nosotros. Implementamos medidas de seguridad técnicas y organizativas para proteger la información contra accesos no autorizados, pérdida o alteración.</p>

<h2>4. Divulgación de Información a Terceros:</h2>

<p>No compartimos información personal con terceros, excepto cuando sea necesario para procesar transacciones, cumplir con la ley o proteger nuestros derechos. Colaboramos con proveedores de servicios confiables que cumplen con estándares de privacidad y seguridad.</p>

<h2>5. Cookies y Tecnologías Similares:</h2>

<p>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario, analizar tendencias y administrar el sitio web. Puede controlar el uso de cookies a través de la configuración de su navegador.</p>

<h2>6. Enlaces a Sitios de Terceros:</h2>

<p>Nuestro sitio web puede contener enlaces a sitios de terceros. No somos responsables de las prácticas de privacidad de esos sitios y le recomendamos revisar sus políticas de privacidad.</p>

<h2>7. Cambios en la Política de Privacidad:</h2>

<p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio significativo se comunicará a través de nuestro sitio web.</p>

<h2>8. Consentimiento:</h2>

<p>Al utilizar nuestro sitio web o servicios, usted otorga su consentimiento para la recopilación y uso de su información personal según lo establecido en esta política de privacidad.</p>

<h2>9. Contacto:</h2>

<p>Para preguntas o inquietudes relacionadas con nuestra política de privacidad, contáctenos a <a href="mailto:admin@gmail.com">admin@gmail.com</a>.</p>

<p>Gracias por confiar en "Laptopmania". Estamos comprometidos a proteger su privacidad y proporcionarle una experiencia segura y satisfactoria.</p>

<p>Atentamente,</p>
<p>Daniel Lucana Cayo</p>
<p>"Laptopmania"</p>
</p>
