/* Estilos para la página de Registro de Usuarios */
body {
    /* Ajusta la imagen de fondo y su ubicación */
    background-image: url('/imagenes/secretaria_1.jpg');
    background-size: cover; /* Cubre todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Agrega estilos adicionales si lo necesitas */
    color: white;
}

h1 {
    color: #0066cc; /* Color del título */
}

p a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    padding: 5px 10px; /* Añade espacio alrededor del enlace */
    background-color: #0066cc; /* Color de fondo del enlace */
    color: #fff; /* Color del texto del enlace */
    border-radius: 3px; /* Borde redondeado */
}

    p a:hover {
        background-color: #004080; /* Cambia el color de fondo al pasar el ratón por encima */
    }

.table {
    width: 100%; /* Ajusta el ancho de la tabla al 100% */
    margin-top: 20px; /* Margen superior */
    border-collapse: collapse; /* Borde colapsado */
}

    .table th, .table td {
        padding: 8px; /* Añade espacio interno */
        border: 1px solid #ddd; /* Borde */
    }

    .table th {
        background-color: #f2f2f2; /* Color de fondo del encabezado de la tabla */
        text-align: left; /* Alineación del texto del encabezado */
    }

    .table td {
        text-align: left; /* Alineación del texto en celdas de datos */
    }

    .table a {
        text-decoration: none; /* Quita el subrayado de los enlaces */
        color: #0066cc; /* Color del texto del enlace */
    }

        .table a:hover {
            text-decoration: underline; /* Subrayado al pasar el ratón por encima del enlace */
        }
