@model LaptoManiaOficial.Models.Venta

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaVenta" class="control-label">Fecha de la Venta</label>
                <input asp-for="FechaVenta" class="form-control" type="date" />
                <span asp-validation-for="FechaVenta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label">Nombre Vendedor</label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
                @if (ViewData["InvalidUsuarioId"] != null)
                {
                    <span class="text-danger">@ViewData["InvalidUsuarioId"]</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="ClienteId" class="control-label">Carnet Identidad Cliente</label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId">
                    <option value="">Seleccione un cliente</option>
                </select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EquipoId" class="control-label">Codigo Equipo</label>
                <select asp-for="EquipoId" class="form-control" asp-items="ViewBag.EquipoId">
                    <option value="">Seleccione un equipo</option>
                </select>
                <span asp-validation-for="EquipoId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
